body {
    font-family: 'Times New Roman', Times, serif !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    background: linear-gradient(to bottom right, rgb(24, 24, 24),rgb(36, 36, 36), rgb(53, 53, 53), rgb(73, 73, 73));
    color: antiquewhite !important;
    font-size: 1vw !important;
    font-weight: bold !important;
    cursor: default;
    color: antiquewhite !important;
}

a {
    text-decoration: none !important;
    color: antiquewhite !important;
}

h1 {
    font-size: 7vw !important;
    font-weight: bold !important;
    text-shadow: 0 0 5vw #000000, 0 0 10vw #818181, 0 0 10vw #7c7c7c,
    0 0 10vw #969696;
}

.row {
    margin-top: 7vw;
    margin-bottom: 7vw;
}

.zoom {    
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    border: 1px solid antiquewhite !important;
    border-radius: 10px !important;
    margin: 0px 2vw 2vw 2vw;
    max-height: 30vw;
    min-height: 30vw;
    background: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(53, 53, 53));
    transition-duration: 0.5s;
    transition-property: transform;
}

.zoom:hover {
    transform: scale(1.5) !important;
}

img {
    max-width: 10vw;
    margin: 2vw 0px 1vw 0px;
}

#instagram,
#codepen,
#github,
#facebook {
    font-size: 7vw;
    color: antiquewhite;    
    margin: 5%;
    text-shadow: 0 0 5vw #000000, 0 0 6vw #818181, 0 0 6vw #7c7c7c,
    0 0 10vw #969696;
}