body {
    font-family: 'Times New Roman', Times, serif !important;
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    background: linear-gradient(to bottom right, rgb(24, 24, 24),rgb(36, 36, 36), rgb(53, 53, 53), rgb(73, 73, 73)) !important;
    color: antiquewhite !important;
    font-weight: bold !important;
    cursor: default;
}

a {
    text-decoration: none !important;
    color: antiquewhite !important;
}

h1 {
    font-size: 7vw !important;
    font-weight: bold !important;
    text-shadow: 0 0 5vw #000000, 0 0 10vw #818181, 0 0 10vw #7c7c7c,
    0 0 10vw #969696;
    margin: 10vw 0px 10vw 0px !important;
}

h5 {
    font-size: 3vw !important;
    font-weight: bold !important;
    margin-bottom: 8vw !important;
}

.row {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.col {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    padding: 0px 1vw 0px 1vw !important;
}

.zoom {
    align-items: center !important;
    text-align: center !important;
    justify-content: center !important;
    font-size: 2vw;
    border: 1px solid antiquewhite !important;
    border-radius: 10px !important;
    margin: 3vw 1vw 8vw 1vw;
    max-height: 40vw;
    min-height: 40vw;
    background: linear-gradient(to bottom right, rgb(36, 36, 36), rgb(53, 53, 53));
    transition-duration: 0.5s;
    transition-property: transform;
}

.zoom:hover {
    transform: scale(1.4) !important;
}

img {
    max-width: 10vw;
    margin: 2vw 0px 1vw 0px;
}

#icons {
    margin: 10vw 0px 10vw 0px;
}

#instagram,
#codepen,
#github,
#facebook {
    font-size: 7vw;
    color: antiquewhite;    
    margin: 5%;
    text-shadow: 0 0 5vw #000000, 0 0 6vw #818181, 0 0 6vw #7c7c7c,
    0 0 10vw #969696;
}

.breadcrumb {
    background-color: transparent !important;
    color: antiquewhite !important;
    font-size: 2vw;
}

.container {
    max-width: 95vw;
    min-width: 95vw;
}